.cartArea {
  position: fixed;
  right: 20;
  bottom: 10;
  background-color: lightgray;
  width: 80px;
  height: 80px;
  border-radius: 50%;
  padding: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  border: 0px;
}

.cartArea:hover {
  border: 1px solid black;
}

.cartDisplayDiv {
  visibility: hidden;
  background-color: rgb(255, 255, 255);
  position: fixed;
  right: 10;
  bottom: 90px;
  height: fit-content;
  width: 20%;
  padding: 0;
  border: darkgray 1px solid;
}
.cartItemCount:hover .cartDisplayDiv {
  visibility: visible;
}

.cartWrapper:hover > .cartDisplayDiv {
  visibility: visible;
}

.cartIcon {
  transform: scale(2);
}

.cartItemCount {
  background-color: rgb(116, 116, 116);
  padding: 8px;
  border-radius: 50%;
  font-weight: bold;
  text-align: center;
  position: fixed;
  right: 20;
  bottom: 50;
  z-index: 90;
}

.cartFunctionalityArea {
  text-align: center;
}

.cartItemListArea {
  list-style: none;
  padding-left: 5px;
  width: inherit;
}

.cartEmpty {
  text-align: center;
}

.cartWrapper {
  background-color: thistle;
}

.clearCartButton {
  border-radius: 30px;
  border: 1px solid black;
  box-shadow: 2px 2px gray;
}
.clearCartButton:hover {
  border: 1px solid white;
  background-color: rgb(107, 107, 107);
  color: white;
}
