.inactiveIndicator {
  width: 10px;
  height: 10px;
  background-color: rgb(119, 119, 119);
  border-radius: 50%;
  margin-left: 3px;
  cursor: pointer;
}

.activeIndicator {
  background-color: black;
  width: 10px;
  height: 10px;
  border-radius: 50%;
  margin-left: 3px;
}
