.carouselItem {
  background-repeat: no-repeat;
  height: 450px;
  background-position: center;
  text-align: center;
  width: 600px;
  margin-right: auto;
  margin-left: auto;
  margin-top: 10px;
  border-radius: 35% / 20%;
  border: 1px dotted black;
  background-clip: content-box;
  background-color: white;
  background-size: 350px, 700px;
}

.inactive {
  background-color: lightyellow;
  height: 0px;
  visibility: hidden;
}

.itemTitle {
  background-color: white;
  opacity: 75%;
  transform: translateY(15px);
  width: fit-content;
  margin-left: auto;
  margin-right: auto;
  font-weight: bolder;
}
