.itemDiv {
  display: flex;
  flex-direction: column;
  margin-right: 50px;
  margin-left: 50px;
}

.itemImage > img {
  height: 400px;
  width: 400px;
}

.itemImage {
  text-align: center;
}

.descriptionArea {
  width: 50%;
  margin-right: auto;
  margin-left: auto;
}

.itemPrice {
  font-size: 22;
}

.itemTitle {
  font-size: 36;
  justify-self: center;
  text-align: center;
  font-weight: bold;
}

.descriptionArea {
  width: 500px;
  background-color: white;
  padding: 10px;
}

.priceCartandQuantity {
  display: flex;
  justify-content: space-between;
}
