@import url('https://fonts.googleapis.com/css2?family=PT+Sans:wght@400;700&display=swap');
body {
  margin: 0;
  font-family: 'PT Sans', sans-serif;
  background-color: whitesmoke;
}

.content {
  flex-grow: 1;
}

.footer {
  flex-shrink: 0;
}

.wrapper {
  display: flex;
  flex-direction: column;
  min-height: 100%;
}
